@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.matter h1 {
    font-family: 'Outfit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

.matter p {
    font-family: 'Outfit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    max-width: 1440px;
    background-color: hsl(212, 45%, 89%);
}

.box {
    width: 100%;
    max-width: 340px;
    height: auto;
    background-color: white;
    display: flex;
    margin: 35px auto;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.qrCode{
    width: 310px;
    margin: 0px auto;
    border-radius: 10px;    
}

.qrCode #qrcode {
    width: 310px;
    margin: 10px auto;
    border-radius: 10px;
}

.matter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 10px 0;
}

.matter h1{
    font-size: 25px;
    margin: 5px;
}

.matter p{
    width: 80%;
    font-size: 15px;
    margin: 5px;
}